extends layout

block content
  h1= title
  p Página Principal

  p Links:
        ul 
          li 
            a(href="/pagamentos") Pagamentos
          li 
            a(href="/movimentos") Movimentos
    footer.w3-container.w3-indigo
      address Ex2
      li 
            a(href="/") Voltar à Página Principal